Repository Nicklason/4-semester-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Nicklason, @stped18, @Kjalris

fixed compile errors caused by merge and removed MapServiceImplTest as test faulted
  dk.sdu.se4.Equipment/src/main/java/dk/sdu/se4/Equipment/BulletPlugin.java
  dk.sdu.se4.map/src/test/java/dk/sdu/se4/map/MapServiceImplTest.java
  pom.xml
Owners: @Nicklason

image part fix
  dk.sdu.se4.Equipment/osgi.bnd
  dk.sdu.se4.Equipment/src/main/java/dk/sdu/se4/Equipment/BulletPlugin.java
  dk.sdu.se4.Equipment/src/main/resources/META-INF/EquipmentPlugin.xml
  dk.sdu.se4.Equipment/src/main/resources/META-INF/EquipmentProcessor.xml
Owners: none

remove not needed bnd keys
  dk.sdu.se4.Equipment/osgi.bnd
  dk.sdu.se4.enemy/osgi.bnd
Owners: @stped18, @Nicklason

fix print
  dk.sdu.se4.Equipment/src/main/java/dk/sdu/se4/Equipment/EquipmentCore.java
Owners: none

fix cardinality
  dk.sdu.se4.core/src/main/resources/META-INF/component.xml
Owners: @Nicklason

always use map
  dk.sdu.se4.Equipment/src/main/resources/META-INF/EquipmentPlugin.xml
  dk.sdu.se4.Equipment/src/main/resources/META-INF/EquipmentProcessor.xml
  dk.sdu.se4.enemy/src/main/resources/META-INF/Plugin.xml
  dk.sdu.se4.enemy/src/main/resources/META-INF/Processor.xml
Owners: @stped18, @Nicklason

remove print
  dk.sdu.se4.common/src/main/java/dk/sdu/se4/common/entity/part/TimePart.java
Owners: @stped18, @Kjalris

.github/CODEOWNERS:

/dk.sdu.se4.core/** @Nicklason
/dk.sdu.se4.map/** @Nicklason
/dk.sdu.se4.common/** @stped18 @Kjalris
/dk.sdu.se4.enemy/** @stped18 @Nicklason
